* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background:  #129799;
    overflow-x: hidden;
}
button {
    border: none;
    background-color: transparent;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #F7F7F7;
    cursor: pointer;
}
.list-init-1 {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 390px 0px 330px;
    list-style: none;
    line-height: 20px;
   
}
.img-mouse {
    position: absolute;
    top: 32px;
    left: 470px;
}
.div-caixa-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-prin {
    margin: 39px -2px 30px 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    color: #F7F7F7;
}
.list-sec {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 320px 30px 300px;
    list-style: none;
    line-height: 20px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #F7F7F7;
   
}
main {
    background-color: #FFA185;
}
.caixa-aquarela {
    width: 868px;
   
}
.title-aquarela {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 38px;
    color: #F7F7F7; 
    margin: 0px 30px 0px 130px;
    line-height: 124px;
}
.p-aquarela {
    font-size: 20px;
    margin: -19px 30px 0px 130px;
}
.caixa-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.img {
    width: 550px;
    margin: 1rem;

}
.h3-aquarela {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.linha-div {
    height: 30px;
    background-color: #FFA185;
}
footer {
    background-color: #129799;
    margin: 0px 0px 0px 153px;
    padding: 35px;
}
.img-fim {
    width: 243px;
    margin: 0px 30px 0px 0px;
    display: flex;
    justify-content: space-evenly;
}
.img-2 {
    width: 30px;
    cursor: pointer;
}
.list-fim {
    width: 600px;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    line-height: 20px;
    margin: -30px 0px 0px 444px;
}